main{
    text-align: center;
    width: 20cm;
    height: 22cm;
    padding:10px ;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('images/cookieWallpaper2.jpg');
    background-color: rgba(255, 255, 255, 0.2);
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #0056b3;
}
button:active {
    background-color: #003e80;
}